
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CVTech</a>
  <button
  class="navbar-toggler"
  type="button"
  data-toggle="collapse"
  data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup"
  aria-expanded="false"
  aria-label="Toggle navigation"
  (click)="show()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"  [ngClass]="{'show':visibility}" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['']" routerLinkActive="active">CV <span class="sr-only">(current)</span></a>
     

      <a class="nav-item nav-link" [routerLink]="['cv/add']" routerLinkActive="active">Ajoutez votre CV</a>
      <a class="nav-item nav-link" [routerLink]="['login']" routerLinkActive="active">Connexion</a>

    </div>
  </div>
</nav>
